/**
* General typesetting
*/
body {
	font-family: $font;
	color: $dark;
}

/**
* Headings
*/
// General
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.5;
}

p {
	margin: 0 0 $vertical-rhythm 0;
}

// Medium up
@include breakpoint(medium) {
	h1 { font-size: 2.5em; }
	h2 { font-size: 2.1em; }
	h3 { font-size: 1.7em; }
	h4 { font-size: 1.3em; }
	h5 { font-size: 1.175em; }
	h6 { font-size: 1em; }
}

// Small
@include breakpoint(small only) {
	h1 { font-size: 2em; }
	h2 { font-size: 1.8em; }
	h3 { font-size: 1.6em; }
	h4 { font-size: 1.4em; }
	h5 { font-size: 1.2em; }
	h6 { font-size: 1em; }
}

// Headings following paragraphs
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
    margin-top: $vertical-rhythm;
}

/**
* Body Copy
*/
p, li { font-size: 1rem; line-height: 1.5; }

/**
* Links
*/
a {
	transition: .2s ease all;
}